: ${_ts:="$HOME/touchstone/touchstone-lib-master"} # may get set by development shell
_machine="$HOME/touchstone/machines/sp3"
_graspitmod="$HOME/sandbox/graspitmod"
source "$_ts/rcutils.sh"

export PATH="$_ts/bin:$PATH"
export TS_MODULE_PATH="$HOME/touchstone/modules" # sp3 .tsb files rely(ied) on this..
export TS_MODULES="$_machine:$_graspitmod:$_ts" # get sourced by-name right now

if [[ $TSB_DEVMODE == 1 ]]; then
    export DEBUG_TSB_OUTPUT=0
fi


_shellmode=interactive


_cache() {
    local mainname="$1"
    if [[ ! $mainname ]]; then
        echo "provide a name for the cache!" >&2
        return 1
    fi
    shift
    logged --silent --cached --name "$mainname" --dir "$_machine/logs" --prefix 'interactive' --cached-shortmsg 'interactive' :::: "$@" 
}
uncache() {
    local today=$( date '+%Y_%m_%d__%H_%M_%S' );
    local logs="$_machine/logs"
    local logs_old="$_machine/logs_old"
    mkdir -p "$logs_old"
    if [[ -e "$logs" ]]; then
        mv "$logs" "$logs_old/$today" && mkdir -p "$logs"
    fi
}

rcfun() {
    eval "$( _cache mod_stdlib tsb -c shellenv_module --stdlib --and -c shellenv_interactive --stdlib)"
    eval "$( _cache mod_machine tsb -C shellenv_module -p "$_machine" )"
    eval "$( _cache mod_graspit tsb -C shellenv_module -p "$_graspitmod" )"
    eval "$( _cache mod_software tsb -C shellenv_module --eval finddirs -P "$TS_MODULE_PATH" -c 'module.layout' )"

    eval "$( 
            _cache interactive_all tsb -C shellenv_$_shellmode \
                -p "$_machine" --and  \
                -p "$_graspitmod" --and \
                --eval finddirs -P "$TS_MODULE_PATH" -c 'module.layout'
    )"
}
rcfun
