: ${_ts:="$HOME/touchstone/touchstone-lib-master"} # may get set by development shell
_machine="$HOME/touchstone/machines/sp3"
_graspitmod="$HOME/sandbox/graspitmod"
source "$_ts/rcutils.sh"

export PATH="$_ts/bin:$PATH"
export TS_MODULE_PATH="$HOME/touchstone/modules" # sp3 .tsb files rely(ied) on this..
export TS_MODULES="$_machine:$_graspitmod:$_ts" # get sourced by-name right now

if [[ $TSB_DEVMODE == 1 ]]; then
    export DEBUG_TSB_OUTPUT=0
fi


_shellmode=login

eval "$(tsb -c shellenv_module --stdlib --and -c shellenv_interactive --stdlib)"
eval "$( tsb -C shellenv_module -p "$_machine" )"
eval "$( tsb -C shellenv_module -p "$_graspitmod" )"
eval "$( tsb -C shellenv_module --eval finddirs -P "$TS_MODULE_PATH" -c 'module.layout' )"

eval "$( 
        tsb -C shellenv_$_shellmode \
            -p "$_machine" --and  \
            -p "$_graspitmod" --and \
            --eval finddirs -P "$TS_MODULE_PATH" -c 'module.layout'
)"
